{% extends 'ventas/header-main.html' %}
 
{% block content %}

<ul class="menu">
    <li><a href="/clientes/nuevo"><input type="button" class="boton" value="+ Agregar cliente"  /></a></li>
</ul>
<h1 class="titulo1">Tabla de clientes</h1>
<div class="tabla">  
  <table id="keywords">
    <thead>
      <tr>
        <th><span>Código</span></th>
        <th><span>Cliente</span></th>
        <th><span>NIT</span></th>
        <th><span>Dirección</span></th>
        <th><span>Acciones</span></th>
      </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            <tr>
            <td>{{cliente.id}}</td>
            <td class="lalign">{{cliente.nombre}}</td>
            <td>{{cliente.nit}}</td>
            <td>{{cliente.direccion}}</td>
            <td><a href = "{% url 'cliente_editar' pk=cliente.pk %}">Editar</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
 </div> 

{% endblock %}