{% extends 'ventas/header-login.html' %}
{% block content %}

<br /><br />
<h1 class="titulo1">Necesitas acceder para utilizar MesoVentas</h1><br /><br>
<div class="module form-module">
  <div class="toggle">
  </div>
        <div class="form">
        <h2>Ingresar a MesoVentas</h2>
        <form method="post" onsubmit="return mensaje()">
            {% csrf_token %}
            <input type="text" placeholder="Aquí va tu usuario!" autofocus id="username" name = "username"/>
            <input type="password" placeholder="Aquí va tu contraseña!" id="password" name = "password"/>
            <input type="submit" value="Ingresar ahora!" class="button"/>
        </form>
            </div>
  <div class="cta"><a href="/signup">Aún no estoy registrado</a></div>
</div>
      
{% endblock %}