{% extends 'ventas/header-main.html' %}
 
{% block content %}

<ul class="menu">
    <li><a href="/productos/nuevo"><input type="button" class="boton" value="+ Agregar producto"  /></a></li>
    <li><a href="/clientes/nuevo"><input type="button" class="boton" value="+ Agregar clientes"  /></a></li>
    <li><a href="/ventas/nuevo"><input type="button" class="boton" value="+ Nueva venta"  /></a></li>
</ul>
<h1 class="titulo1">Tabla de productos</h1>
<div class="tabla">  
  <table id="keywords">
    <thead>
      <tr>
        <th><span>Código</span></th>
        <th><span>Producto</span></th>
        <th><span>Precio de venta</span></th>
        <th><span>Stock</span></th>
        {% if username.is_superuser %}
        <th>    
            <span>Acciones</span>    
        </th>
        <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
            <tr>
            <td>{{producto.id}}</td>
            <td class="lalign">{{producto.nombre}}</td>
            <td>Q. {{producto.precio}}</td>
            <td>{{producto.existencias}}</td>
            {% if username.is_superuser %}
            <td>
                <a href = "{% url 'producto_editar' pk=producto.pk %}">Editar</a>    
            </td>
            <td>
                <a href = "{% url 'producto_eliminar' pk=producto.pk %}">Eliminar</a>    
            </td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
  </table>
 </div> 

{% endblock %}