    {% extends 'ventas/header-main.html' %}

    {% block content %}
<br>
        <div class="module form-module">
          <div class="toggle">
          </div>
                <div class="form">
                    <h2>Producto</h2>
                    <form method="post" onsubmit="return mensaje()">
                        {% csrf_token %}
                        {{ form.as_p }}                
                        <input type="submit" value="Guardar producto!" class="button"/>
                    </form>
                </div>
        </div>
    {% endblock %}