{% extends 'ventas/header-login.html' %}
{% block content %}

<br /><br />
<h1 class="titulo1">Regístrate ahora en MesoVentas</h1><br /><br>
<div class="module form-module">
  <div class="toggle">
  </div>
        <div class="form">
        <h2>Aquí tus datos personales</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="Por aquí va tu usuario!" autofocus id="username" name = "username"/>
            <input type="text" placeholder="Aquí tu correo electrónico!" id="email" name = "email"/>
            <input type="password" placeholder="Y por último tu contraseña!" id="password" name = "password"/>
            <input type="submit" value="Registrarme ahora!" class="button"/>
        </form>
            </div>
</div>
      
{% endblock %}