{% extends 'ventas/header-main.html' %}

{% block content %}

    <div class="moduloventas">
        <form method="post" onsubmit="return mensaje()">
            {% csrf_token %}
            
            <ul class="menu">
                <h2>Factura No. {{numfact}}</h2><br />
                <li>Fecha: <strong>{{fecha}}</strong></li>
                <li>Usuario: <strong>{{username}}</strong></li>
                {{form.as_p}}
            </ul>
            
            <div class="menu2">
                <input type="submit" value="FACTURAR AHORA!" class="boton"/>
            </div>
            
        </form>
    </div>

{% endblock %}