{% extends 'ventas/header-main.html' %}

{% block content %}

    <div class="moduloventas">
        <form method="post" onsubmit="return mensaje()">
            {% csrf_token %}
            <ul class="menu">
                <h2>Factura No. {{numfact}}</h2><br />
                <li>Cliente:
                    <select class="combobox">
                        {% for cliente in clientes %}
                            <option value="{{cliente.nombre}}">{{cliente.nombre}}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>Fecha: <strong>{{fecha}}</strong></li>
                <li>Usuario: <strong>{{username}}</strong></li>
            </ul>
            <div class="menu2">
                <h2>Detalle de factura</h2>
                <input type="button" value="+ Agregar items" class="boton" /><br /><br />
                <div class="tabla">
                    <table id="keywords">
                        <thead>
                            <tr>
                            <th><span>No. Producto</span></th>
                            <th><span>Producto</span></th>
                            <th><span>Cantidad</span></th>
                            <th><span>Subtotal</span></th>
                            <th><span>Acciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>1</td>
                            <td class="lalign">Lays</td>
                            <td>5</td>
                            <td>Q. 15.00</td>
                            <td><a href = "#">Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>                
                </div>          
                <div class="acciones">
                    <br /><input type="submit" value="Guardar venta!" class="boton"/>
                </div>
            </div>
        </form>
    </div>

{% endblock %}