body {
    margin: 0;
    padding: 0;
    background: #e9e9e9;
    color: #3a3c3a;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu {
    background: #7c7c7c;
    color: #000;
    list-style: none;
    text-align: left;
    padding: 20px 20px;
}

.menu > li {
    display: inline-block;
    padding-right: 5px;
}

.boton {
    background: #29f55a;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    padding: 10px 15px;
    color: #000;
    font-size: 15px;
    -webkit-transition: 0.5s ease;
    border-style: hidden;
}
.boton:hover {
    background: #3a3c3a;
    color: #29f55a;
}



.nav {
    background: #3a3c3a;
    color: #fff;
    list-style: none;
    text-align: right;
    padding: 25px 0 25px 0;
}

.nav > li {
    display: inline-block;
    padding-right: 35px;
}

.nav > li > a {
    text-decoration: none;
    color: #fff;
}

.nav > li > a:hover {
    color: #73fc94;
}

.logo {
    text-align: left;
    color: #73fc94;
    float: left;
    padding-left: 25px;
    font-weight: 400;
    font-size: 20px;
}

.logo > h4 {
    padding-top: 2px;
    font-size: 13px;
    color: #73fc94;
}

.logo > a {
    text-decoration: none;
    color: #73fc94;
}

.logo > a:hover {
    color: #fff;
    font-size: 21px;
}

.titulo1 {
    text-align: center;
    font-size: 30px;
}

.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #3a3c3a;
}
.pen-title span a {
  color: #3a3c3a;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
    position: relative;
    background: #3a3c3a;
    max-width: 400px;
    width: 100%;
    border-top: 5px solid #3a3c3a;
    margin: 0 auto;
    color: #fff;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #3a3c3a;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #3a3c3a;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
    text-align: center;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #3a3c3a;
  color: #3a3c3a;
}
.button {
  cursor: pointer;
  background: #10aa34;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
    font-size: 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.button:hover {
  background: #04651b;
    color: #fff;
}
.form-module .cta {
  background: #fff;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 15px;
  text-align: center;
}
.form-module .cta a {
  color: #000;
  text-decoration: none;
}
.form-module .cta:hover {
    background: #10aa34;
    color: #fff;
    text-decoration: none;
}